<a href="https://colab.research.google.com/github/190182JeonSeungho/1901282JeonSeungHo/blob/main/1901282%EC%A0%84%EC%8A%B9%ED%98%B85%2C6%EA%B0%95%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = {'age': [23, 43, 12, 45], 'name': ['민준', '현우', '서연', '동현'], 'height':[175.3, 180.3, 165.8, 172.7]}
x = pd.DataFrame(data, columns = ['name', 'age', 'geight'])
x

In [ ]:
x.loc[4]=['광현', 32, 176]

In [ ]:
y = pd.DataFrame({'age': [33], 'name': ['철수'], 'height': 180. }, columns=['age', 'name', 'height'])
y

In [ ]:
result = x.append(y)

In [ ]:
result=x.append(y, ignore_index=Ture)
result

In [ ]:
x = x.append(y, ignore_index=True)
x

In [ ]:
result = pd.concat([x,y], ignore_index=True)
result

In [ ]:
df=pd.DataFrame(np.random.random(5,5))
df.columns=['A', 'B', 'C', 'D', 'E']
df.iloc[1,1]=np.nan
df.iloc[2,2]=np.nan
df

In [ ]:
df.isnull()

In [ ]:
df['A'].isnull()

In [ ]:
df['B'].isnull()

In [ ]:
df['C'].isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df['B'].isnull().sum()

In [ ]:
df.dropna

In [ ]:
df.dropna(inplace=True)
df

In [ ]:
df.dropna(subset=['B'], axis=0, inplace=True)
df

In [ ]:
df.dropna(axis=1, inplace=True)
df

In [ ]:
df.dropna(axis=[0,1], inplace=True)
df

In [ ]:
robot = [[24, 23680], [35, np.nan], [46, 47350], [27,np.nan]]
data = pd.DataFrame(robots, columns=['max_spped', 'price'])

In [ ]:
data.replace(np.nan, 0, inplace=True)
data

In [ ]:
mean = data['price'].mean()
data.replace(np.nan, mean, inplace=True)
data

In [ ]:
mean = data['price'].mean()
data.replace(np.nan, mean)
data

In [ ]:
iris = sns.load_dataset("iris")
iris.head()

In [ ]:
vals = iris['sepal_length'].values
sns.kdeplot(vals)
plt.title("kdeplot for sepal length")
plt.show()

In [ ]:
vals = iris['petal_length'].values
sns.kdeplot(vals)
plt.title("kdeplot for petal length")
plt.show()

In [ ]:
vals = iris['petal_length'].values
sns.displot(vals, kde=True, rug=True)
plt.title("displot for petal length")
plt.show()

In [ ]:
sns.displot(vals, kde=True, rug=True)
plt.title("displot for petal length")
plt.show()

In [ ]:
sns.histplot(vals, kde=True, rug=True)
plt.title("histplot for petal length")
plt.show()

In [ ]:
sns.countplot(x="adult_male", data=titanic)
plt.show

In [ ]:
tips = sns.load_dataset("tips")   #팁 데이터
tips.head()

In [ ]:
sns.countplot(x="day", data=tips)
plt.show()

In [ ]:
sns.joinplot1(x='sepal_length', y='sepal_width', data=iris, kind='scattter')
plt.show()

In [ ]:
sns.joinplot(x='sepal_length', y='sepal_width', data=iris, hue='species', kind='kind')
plt.show

In [ ]:
sns.pairplot(iris)
plt.show()

In [ ]:
sns.pairplot(iris, hue='species', markers=['o', 's', 'd'])
plt.show()

In [ ]:
titanic_size = titanic,pivot_table(index="class", columns="sex", aggfunc="size")
titanic_size

In [ ]:
sns.heatmap(titanic_size)
plt.title("Heatmap")
plt.show()

In [ ]:
sns.heatmap(titanic_size, annot=True)
plt.title("Heatmap")
plt.show()

In [ ]:
sns.heatmap(titanic_size, annot=True, fmt='d')
plt.title("Heatmap")
plt.show()

In [ ]:
sns.heatmap(titanic_size, cmap=sns.color_palette("PuBu"), annot=True, fmt='d')
plt.title("Heatmap")
plt.show()

In [ ]:
sns.barplot(x="day", y="total_bill", data=tips)
plt.title("Tips on each day")
plt.show()

In [ ]:
sns.barplot(x="totalbill", y="day", data=tips)
plt.title("Tips on each day")
plt.show()

In [ ]:
sns.striplot(x='day', y='total_bill', data= tips, jitter=True)
plt.title('Tips on each day')
plt.show()

In [ ]:
sns.striplot(x='day', y='total_bill', data= tips, jitter=False)
plt.title('Tips on each day')
plt.show()

In [ ]:
sns.swarmplot(x="day", y="total_bill", data=tips)
plt.title("Tips on each day")
plt.show()

In [ ]:
sns.violinplot(x="day", y="total_bill", data=tips)
plt.title("Tips on each day")
plt.show()

In [ ]:
sns.barplot(x="day", y="totalbill", hue='sex', data=tips)
plt.title("Tips on each day with hue=sex")
plt.show()

In [ ]:
sns.barplot(x="day", y="total_bill", hue='time', data=tips)
plt.title("Tips on each day with hue=time")
plt.show()

In [ ]:
sns.stripplot(x="day", y="total_bill", hue='tsex', data=tips)
plt.title("Tips on each day with hue=time")
plt.show()

In [ ]:
sns.swarmplot(x="day", y="total_bill", hue='sex', data=tips)
plt.title("Tips on each day with hue=sex")
plt.show()

In [ ]:
sns.violinplot(x="day", y="total_bill", hue='sex', data=tips)
plt.title("Tips on each day with hue=sex")
plt.show()

In [ ]:
sns.violinplot(x="day", y="total_bill", hue='sex', data=tips, split=True)
plt.title("Tips on each day with hue=sex and split=True")
plt.show()

In [ ]:
sns.stripplot(x="day", y="total_bill", hue='sex', data=tips, dodge=True)
plt.title("Tips on each day with hue=sex and dodge=true")
plt.show()

In [ ]:
sns.swarmplot(x="day", y="total_bill", hue='sex', data=tips, dodge=True)
plt.title("Tips on each day with hue=sex and dodge=true")
plt.show()

In [ ]:
sns.catplot(x="age", y="sex", hue="survived", row="class", data=titanic,
            kind="violin", split=True, height=2, aspect=4)
plt.title("Catplot of titanic with hue=survived")
plt.show()

In [ ]:
plt.title("violonplot and swarmplot")
sns.violinplot(x='day', y='total_bill', data=tips)
sns.swarmplot(x='day', y='total_bill', data=tips, color='0.9')
plt.show()

In [ ]:
titanic.describe()

In [ ]:
df_traim.shape

In [ ]:
df_test.shape

In [ ]:
df_train['Age'].isnull().sum()

In [ ]:
100*df_train['Age'].isnull().sun()/df_train[df_train.cilumns].shape[0]

In [ ]:
for col in df_train.coulmns:
  msg = '{:>10} : \t percentage of NaN: {:.2f}%'.format(col, 100*(df_train[col].isnull().sum() / df_train[col].shape[0]))
print(msg)

In [ ]:
msno.matrix(df=df_train, figsize=(6,6))
plt.show()

In [ ]:
msno.bar(df=df_train, figsize=(6,6))
plt.show()

In [ ]:
df_train['Survived'] .value_counts()

In [ ]:
df_train['Survived'] .value_counts().plot.bar()

In [ ]:
df_train['Survived'].value_counts().plot.pie(explode=[0,0.1])
plt.show()

In [ ]:
sns.countplot(x='Survived', data_train)
plt.show()

In [ ]:
df_train[['Pclass', 'Survived']]

In [ ]:
df_train[['Pclass', 'Survived']] .groupby(['Pclass'], as_index=True).count()

In [ ]:
df_train[['Pclass', 'Survived']] .groupby(['Pclass'], as_index=True).mean()

In [ ]:
df_train[['Pclass', 'Survived']] .groupby(['Pclass'], as_index=True).mean().sort_values

In [ ]:
df_train[['Pclass', 'Survived']] .groupby(['Pclass'], as_index=True).mean().sort_values(by='Survived')

In [ ]:
df_train[['Pclass', 'Survived']] .groupby(['Pclass'], as_index=True).mean().sort_values(by='Survived', ascend=False)

In [ ]:
df_train[['Pclass', 'Survived']] .groupby(['Pclass']).sum()

In [ ]:
pd.crosstab(df_train['Pclass'], df_train['Survived'])

In [ ]:
pd.crosstab(df_train['Pclass'], df_train['Survived'], margins=True)

In [ ]:
pd.crosstab(df_train['Pclass'], df_train['Survived'], margins=True).style.background_gredient(cmap='cool')

In [ ]:
pd.crosstab(df_train['Pclass'], df_train['Survived'], margins=True).mean().sort_values(by='Survived', ascending=False)

In [ ]:
pd.crosstab(df_train['Pclass'], df_train['Survived'], margins=True).mean().sort_values(by='Survived', ascending=False).plot()

In [ ]:
pd.crosstab(df_train['Pclass'], df_train['Survived'], margins=True).mean().sort_values(by='Survived', ascending=False).plot()
plt_show()

In [ ]:
df_train['Pclass'].value_counts().plot.bar()
plt.show()

In [ ]:
sns.countplot(x='Pclass', hue='Survived', data=df_train)
plt.show()

In [ ]:
sns.set(font_scale=2.5)

In [ ]:
f, ax = plt.subplot(1,2, figsize=(16,8))
df_frain['Pclass'].value_counts().plot.bar(ax=ax[0])
sns.countplot(x='Pclass', hue='Survived', data=df_train, ax=ax[1])
plt.show()

In [ ]:
f, ax = plt.subplot(1,2, figsize=(16,8))
df_frain['Pclass'].value_counts().plot.bar(ax=ax[0])
ax[0].set_title('Number of Passengers')
sns.countplot(x='Pclass', hue='Survived', data=df_train, ax=ax[1])
ax[1].set_title('Number of Survived vs dead')
plt.show()